#posts-column
  - @posts.each do |post|
    %h3.post-title
      = post.title
    .date-div.post-date
      \/
      %span
        = post.created_at.to_format("%Y. %B %d.")
      \/
      - if post.comments.size.zero?
        = link_to "Hozzászólok", post_path(post) + "#add-comment"
      - else
        = link_to "#{post.comments.size} komment", post_path(post) + "#comments"
      \/
    .post-body= post.body

#articles-column
  %h2 Mélyebb cikkek, írások
  .column-description
    %p Hosszabb lélegzetvételű leírások főként webfejlesztésről, és főként Rubyban, azoknak akik szeretnek elmélyülni egy-egy témában.
  - @articles.each do |article|
    %a.article{:href=>article_path(article)}
      .image
        %img{:src=>article_image_path(article)}
      .head
        %h3.article-title= article.title
        %p.date-div.article-date= article.created_at.to_format("%Y. %B %d.")

%p
  %img{:src=>"/images/rss.gif", :style=>"vertical-align:middle"}
    %a{:href=>rss_url, :rel=>"alternate", :type=>"application/rss+xml"} Bejegyzések és cikkek RSS-e.